@import "../../../../../styles/mixins/index.scss";

.fourth-section {
    padding: 80px 0;
    background-color: var(--mk-gray);
}

.features {
    text-align: center;
    &--title {
        margin-top: 0;
        margin-bottom: 20px;
        @include font(39);
    }
}

.blocks-wrap {
    display: flex;
    gap: 56px;
    justify-content: center;
    margin-bottom: 40px;
}

.block {
    margin-top: 30px;
    box-shadow: --block-shadow;
    background-color: var(--mk-white);
    padding: 20px 36px;
    border-radius: 20px;
    width: 264px;
    box-sizing: border-box;
    &--title {
        @include font(20);
        margin-top: 0;
        margin-bottom: 13px;
    }
    &--desc {
        margin-bottom: 0;
    }
}