@import "../../../styles/mixins/index.scss";

.header {
    background-color: var(--mk-white);
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0px;
    @include tablet-lg {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0;
    }
}

.menu-wrap {
    display: flex;
    align-items: center;
    gap: 23px;
    color: var(--mk-black-first);
    @include ipad {
        flex-direction: column;
        align-items: flex-start;
    }
}

.menu {
    display: flex;
    gap: 34px;
    list-style-type: none;
    @include font(18);
    @include mobile {
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
    }
}
