@import "../../../../../styles/mixins/index.scss";

.third-section {
    padding: 130px 0;
}

.workspace {
    &--wrap {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        @include tablet-lg {
            align-items: flex-start;
            gap: 10px;
            flex-direction: column;
        }
    }
    &--title-block {
        text-align: center;
        margin-bottom: 70px;
    }
    &--sub-title {
        color: var(--mk-yellow-sec);
        @include font(20);
        margin-bottom: 13px;
    }
    &--title {
        margin-top: 0;
        margin-bottom: 40px;
        @include font(39);
    }
}
